/* Importing Google font - Open Sans */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  padding: 0 10px;
  background-color: white;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1); /* Sombra del header */
}

.navbar {
  display: flex;
  padding: 15px 0;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  justify-content: space-between;
}

.navbar .hamburger-btn {
  display: none;
  color: #000000;
  cursor: pointer;
  font-size: 1.5rem;
}

.navbar .logo {
  gap: 10px;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.navbar .logo img {
  width: 40px;
  border-radius: 50%;
}

.navbar .logo h2 {
  color: gray;
  font-weight: 600;
  font-size: 1.7rem;
}

.navbar .links {
  display: flex;
  gap: 35px;
  list-style: none;
  align-items: center;
}

.navbar .close-btn {
  position: absolute;
  right: 20px;
  top: 20px;
  display: none;
  color: #000;
  cursor: pointer;
}

.navbar .links a {
  color: gray;
  font-size: 1.1rem;
  font-weight: 600;
  text-decoration: none;
  transition: 0.1s ease;
}
.links li a.active {
  color: #922b21; /* Color de fondo cuando el enlace está activo */
  /* Estilo de texto para indicar enlace activo */
}

.navbar .links a:hover {
  color: #922b21;
}

.navbar .login-btn {
  padding: 1em 1.5em;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  letter-spacing: 4px;
  text-transform: uppercase;
  cursor: pointer;
  color: #922b21;
  transition: all 1000ms;
  font-size: 14px;
  position: relative;
  overflow: hidden;
  outline: 2px solid #922b21;
}

.navbar .login-btn:hover {
  color: #ffffff;
  transform: scale(1);
  outline: 2px solid #922b21;
  box-shadow: 4px 5px 17px -4px #922b21;
}
.navbar .login-btn:before {
  content: "";
  position: absolute;
  left: -50px;
  top: 0;
  width: 0;
  height: 100%;
  background-color: #922b21;
  transform: skewX(45deg);
  z-index: -1;
  transition: width 1000ms;
}
.navbar .login-btn:hover::before {
  width: 250%;
}

/*FORMULARIOS*/
.form-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 10;
  width: 100%;
  opacity: 0;
  pointer-events: none;
  max-width: 720px;
  background: #fff;
  border: 2px solid #fff;
  transform: translate(-50%, -70%);
}

.show-popup .form-popup {
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%);
  transition: transform 0.3s ease, opacity 0.1s;
}

.form-popup .close-btn {
  position: absolute;
  top: 12px;
  right: 12px;
  color: #878484;
  cursor: pointer;
}

.blur-bg-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  height: 100%;
  width: 100%;
  opacity: 0;
  pointer-events: none;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  transition: 0.1s ease;
}

.show-popup .blur-bg-overlay {
  opacity: 1;
  pointer-events: auto;
}

.form-popup .form-box {
  display: flex;
}

.form-box .form-details {
  width: 100%;
  color: #fff;
  max-width: 330px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*LOGINNNN*/
.login .form-details {
  padding: 0 40px;
  background: url("../img/login.png");
  background-position: center;
  background-size: cover;
}
/*REGISTERR*/
.signup .form-details {
  padding: 0 20px;
  background: url("../img/register.jpeg");
  background-position: center;
  background-size: cover;
}

.form-box .form-content {
  width: 100%;
  padding: 35px;
}

.form-box h2 {
  text-align: center;
  margin-bottom: 29px;
}

form .input-field {
  position: relative;
  height: 50px;
  width: 100%;
  margin-top: 20px;
}

.input-field input {
  height: 100%;
  width: 100%;
  background: none;
  outline: none;
  font-size: 0.95rem;
  padding: 0 15px;
  border: 1px solid #717171;
  border-radius: 3px;
}

.input-field input:focus {
  border: 1px solid #922b21;
}

.input-field label {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  color: #4a4646;
  pointer-events: none;
  transition: 0.2s ease;
}

.input-field input:focus,
.input-field input:not(:placeholder-shown) {
  padding: 16px 15px 0;
}

.input-field input:focus ~ label,
.input-field input:not(:placeholder-shown) ~ label {
  transform: translateY(-120%);
  color: #922b21;
  font-size: 0.75rem;
}

.form-box a {
  color: #922b21;
  text-decoration: none;
}

.form-box a:hover {
  text-decoration: underline;
}

form :where(.forgot-pass-link, .policy-text) {
  display: inline-flex;
  margin-top: 13px;
  font-size: 0.95rem;
}

form button {
  width: 100%;
  color: #fff;
  border: none;
  outline: none;
  padding: 14px 0;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 3px;
  cursor: pointer;
  margin: 25px 0;
  background: #922b21;
  transition: 0.2s ease;
}

form button:hover {
  background: #922b21;
}

.form-content .bottom-link {
  text-align: center;
}

.form-popup .signup,
.form-popup.show-signup .login {
  display: none;
}

.form-popup.show-signup .signup {
  display: flex;
}

.signup .policy-text {
  display: flex;
  margin-top: 14px;
  align-items: center;
}

.signup .policy-text input {
  width: 14px;
  height: 14px;
  margin-right: 7px;
}

@media (max-width: 950px) {
  .navbar :is(.hamburger-btn, .close-btn) {
    display: block;
  }

  .navbar {
    padding: 15px 0;
  }

  .navbar .logo img {
    display: none;
  }

  .navbar .logo h2 {
    font-size: 1.4rem;
  }

  .navbar .links {
    position: fixed;
    top: 0;
    z-index: 10;
    left: -100%;
    display: block;
    height: 100vh;
    width: 100%;
    padding-top: 60px;
    text-align: center;
    background: #fff;
    transition: 0.2s ease;
  }

  .navbar .links.show-menu {
    left: 0;
  }

  .navbar .links a {
    display: inline-flex;
    margin: 20px 0;
    font-size: 1.2rem;
    color: #000;
  }

  .navbar .links a:hover {
    color: #922b21;
  }

  .navbar .login-btn {
    font-size: 0.9rem;
    padding: 7px 10px;
  }
}
/* IMAGEN CENTRAL DEL INDEX*/
.homepage {
  height: 100vh;
  width: 100%;
  position: relative;
  background: url("../img/novedades.png");
  background-position: center 5%;
  background-size: cover;
  background-attachment: fixed;
}

.homepage::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.2);
}

.homepage .content {
  display: flex;
  height: 85%;
  z-index: 3;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.homepage .content h1 {
  font-size: 60px;
  font-weight: 700;
  margin-bottom: 10px;
}

.homepage .content .text {
  margin-bottom: 50px;
  color: #fff;
  font-size: 20px;
  text-align: center;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.content a {
  color: #000;
  display: block;
  text-transform: uppercase;
  font-size: 18px;
  margin: 0 10px;
  padding: 10px 30px;
  border-radius: 5px;
  background: #fff;
  border: 2px solid #fff;
  transition: 0.4s ease;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  text-decoration: none;
}

.content a:hover {
  color: #fff;
  background: rgba(255, 255, 255, 0.3);
}
section {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 80px 0 0;
}

.title-novedades {
  font-size: 35px;
  text-align: center;
  margin-top: 45px;
  margin-bottom: 10px;
}

/*Contenedor de categorias*/

input[type="radio"] {
  display: none;
}

.container-category {
  margin-bottom: 20px;
  margin-top: 30px;
  width: 100%;
  display: flex;
  grid-gap: 25px;
  justify-content: center;
}

.container-category label {
  font-weight: bold;
  padding: 6px 40px;
  margin: 10px;
  font-size: 20px;
  background: #e2e2e2;
  border-radius: 5px;
  cursor: pointer;
}

.container-category label:hover {
  opacity: 0.8;
}

/*Post - Publicaciones*/
.container-post {
  max-width: 1400px;
  margin: auto;
}

.posts {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px;
  margin-top: 20px;
  padding: 20px;
}

.posts .post {
  background: #fff;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  overflow: hidden;
  padding-bottom: 20px;
  height: auto;
  transition: box-shadow 0.6s ease;
  cursor: pointer;
}

.posts .post:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.post .ctn-img {
  margin-bottom: 20px;
  object-fit: cover;
  overflow: hidden;
}

.post .ctn-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.post h2 {
  text-align: center;
  font-size: 16px;
  margin-top: 20px;
  padding: 0px 20px;
}

.post span {
  font-size: 12px;
  text-align: left;
  display: block;
  margin-top: 20px;
  padding: 0px 20px;
}

.ctn-tag {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  padding: 10px;
  margin-top: auto;
}

.ctn-tag li {
  list-style: none;
  font-size: 9px;
  margin: 4px;
  padding: 6px 10px;
  background: #fadbd8;
}
.ctn-tag .evento_fecha {
  list-style: none;
  font-size: 9px;
  margin: 4px;
  padding: 6px 10px;
  background: #f7dc6f;
}
.ctn-tag .evento_lugar {
  list-style: none;
  font-size: 9px;
  margin: 4px;
  padding: 6px 10px;
  background: #82e0aa;
}

.post button {
  margin-top: 20px;
  margin-left: 20px;
  padding: 10px 50px;
  font-size: 9px;
  background: #922b21;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.post button:hover {
  opacity: 0.9;
}

/*sistema de filtrado*/

[value="TODOS"]:checked ~ .posts .post[data-category] {
  display: block;
}

[value="NOTICIA"]:checked ~ .posts .post:not([data-category~="NOTICIA"]),
[value="EVENTO"]:checked ~ .posts .post:not([data-category~="EVENTO"]) {
  display: none;
}

[value="TODOS"]:checked ~ .container-category [for="TODOS"],
[value="NOTICIA"]:checked ~ .container-category [for="NOTICIA"],
[value="EVENTO"]:checked ~ .container-category [for="EVENTO"] {
  background: #922b21;
  color: #fff;
}

@media screen and (max-width: 1200px) {
  .container-category {
    grid-gap: 1px;
  }
  .container-category label {
    font-size: 14px;
    text-align: center;
  }
  .posts {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 900px) {
  .posts {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 580px) {
  .posts {
    grid-template-columns: repeat(1, 1fr);
  }
}

/*chatbot*/
.chatbot-toggler {
  position: fixed;
  bottom: 30px;
  right: 35px;
  outline: none;
  border: none;
  height: 50px;
  width: 50px;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: #922b21;
  transition: all 0.2s ease;
}

body.show-chatbot .chatbot-toggler {
  transform: rotate(90deg);
}

.chatbot-toggler span {
  color: #fff;
  position: absolute;
}

.chatbot-toggler span:last-child,
body.show-chatbot .chatbot-toggler span:first-child {
  opacity: 0;
}

body.show-chatbot .chatbot-toggler span:last-child {
  opacity: 1;
}
.chatbot {
  position: fixed;
  right: 35px;
  bottom: 90px;
  width: 380px;
  height: auto;
  background: #fff;
  border-radius: 15px;
  overflow: hidden;
  opacity: 0;
  pointer-events: none;
  transform: scale(0.5);
  transform-origin: bottom right;
  box-shadow: 0 0 128px 0 rgba(0, 0, 0, 0.1),
    0 32px 64px -48px rgba(0, 0, 0, 0.5);
  transition: all 0.1s ease;
  z-index: 10000;
}

body.show-chatbot .chatbot {
  opacity: 1;
  pointer-events: auto;
  transform: scale(1);
}

.chatbot header {
  padding: 16px 0;
  position: relative;
  text-align: center;
  color: #fff;
  background: #922b21;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.chatbot header span {
  position: absolute;
  right: 15px;
  top: 50%;
  display: none;
  cursor: pointer;
  transform: translateY(-50%);
}

header h2 {
  font-size: 1.2rem;
}

.chatbot .chatbox {
  overflow-y: auto;
  height: 450px;
  padding: 30px 20px 100px;
}

.chatbot :where(.chatbox, textarea)::-webkit-scrollbar {
  width: 6px;
}

.chatbot :where(.chatbox, textarea)::-webkit-scrollbar-track {
  background: #fff;
  border-radius: 25px;
}

.chatbot :where(.chatbox, textarea)::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 25px;
}

.chatbox .chat {
  display: flex;
  list-style: none;
}

.chatbox .outgoing {
  margin: 20px 0;
  justify-content: flex-end;
}

.chatbox .incoming span {
  width: 32px;
  height: 32px;
  color: #fff;
  cursor: default;
  text-align: center;
  line-height: 32px;
  align-self: flex-end;
  background: #922b21;
  border-radius: 4px;
  margin: 0 10px 7px 0;
}

.chatbox .chat p {
  white-space: pre-wrap;
  padding: 12px 16px;
  border-radius: 10px 10px 0 10px;
  max-width: 75%;
  color: #fff;
  font-size: 0.80rem;
  background: #922b21;
}

.chatbox .incoming p {
  border-radius: 10px 10px 10px 0;
}

.chatbox .chat p.error {
  color: #721c24;
  background: #f8d7da;
}

.chatbox .incoming p {
  color: #000;
  background: #f2f2f2;
}

.chatbot .chat-input {
  display: flex;
  gap: 5px;
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #fff;
  padding: 3px 20px;
  border-top: 1px solid #ddd;
}

.chat-input textarea {
  height: 55px;
  width: 100%;
  border: none;
  outline: none;
  resize: none;
  max-height: 180px;
  padding: 15px 15px 15px 0;
  font-size: 0.80rem;
}

.chat-input span {
  align-self: flex-end;
  color: #922b21;
  cursor: pointer;
  height: 55px;
  display: flex;
  align-items: center;
  visibility: hidden;
  font-size: 1.35rem;
}

.chat-input textarea:valid ~ span {
  visibility: visible;
}

@media (max-width: 490px) {
  .chatbot-toggler {
    right: 20px;
    bottom: 20px;
  }

  .chatbot {
    right: 0;
    bottom: 0;
    height: 100%;
    border-radius: 0;
    width: 100%;
  }

  .chatbot .chatbox {
    height: 90%;
    padding: 25px 15px 100px;
  }

  .chatbot .chat-input {
    padding: 5px 15px;
  }

  .chatbot header span {
    display: block;
  }
}

/*Footer, pie de página*/
footer {
  margin-top: 60px;
  background-image: url(../img/huellas.jpg);
}

footer .row {
  padding: 2em 1em;
}

footer .row.primary {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  align-items: stretch;
  margin-bottom: -50px;
}

footer .column {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 2em;
  min-height: 15em;
}

footer h3 {
  width: 100%;
  text-align: left;
  color: #922b21;
  font-size: 1.6em;
  white-space: nowrap;
}

footer ul {
  font-size: 14px;
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

footer ul li:not(:first-child) {
  margin-top: 0.8em;
}

footer ul li a {
  color: gray;
  text-decoration: none;
}

footer ul li a:hover {
  color: #922b21;
}

footer .about p {
  font-size: 15px;
  text-align: justify;
  line-height: 2;
  margin: 0;
}

footer div.social {
  display: flex;
  font-size: 2.4em;
  justify-content: center;
  flex-direction: row;
  margin-top: 0.2em;
}

footer div.social a i {
  color: gray;
}

footer div.social a i {
  margin: 0 0.6em; /* Margen interno de los íconos */
}

footer .social i:hover {
  color: #922b21;
  transition: 1s ease;
}

footer .copyright {
  margin-top: 30px;
  padding: 0.3em 1em;
  background-color: gray;
}

footer .copyright p {
  color: white;
  font-size: 0.9em;
  text-align: center;
}

@media screen and (max-width: 850px) {
  footer .row.primary {
    grid-template-columns: 1fr;
  }
  footer .row.secondary {
    margin-top: -120px;
    flex-direction: column;
  }
}

/*Media queries de los forms*/
@media (max-width: 760px) {
  .form-popup {
    width: 95%;
  }

  .form-box .form-details {
    display: none;
  }

  .form-box .form-content {
    padding: 30px 20px;
  }
}
